# Config for analysis

# ----------------------------------------------------------------------------
github_repo_url: https://github.com/jbloomlab/ha-preference-shifts
github_blob_url: https://github.com/jbloomlab/ha-preference-shifts/blob/main
description: Comparing amino-acid preferences across influenza HA subtypes
year: 2025
authors: Timothy Yu

# ----------------------------------------------------------------------------
# Docs
# ----------------------------------------------------------------------------
docs:
  "Analysis":
    "Interactive plots":
      "Interactive lineplots of divergence in amino-acid preferences between pairs of HAs": "notebooks/combined_interactive_lineplots.html"
    "Analysis notebooks":
      "Calculating pairwise sequence identities between HAs": "notebooks/sequence_identity.ipynb"
      "Structural alignment of H3, H5, and H7": "notebooks/structural_alignment.ipynb"
      "Calculating Jensen-Shannon divergence in amino-acid preferences between pairs of HAs": "notebooks/calculate_epistatic_shifts.ipynb"
      "Analysis of factors associated with divergence in amino-acid preferences": "notebooks/explain_epistatic_shifts.ipynb"
    "Data files":
      "Structural alignment": "results/structural_alignment/structural_alignment.csv"
      "Mutation effects": "results/combined_effects/combined_mutation_effects.csv"
      "Average mutation effects at each site": "results/combined_effects/combined_site_effects.csv"

# ----------------------------------------------------------------------------
# Cell entry files
# ----------------------------------------------------------------------------
cell_entry_files:
  h3: data/cell_entry_effects/MDCKSIAT1_entry_func_effects.csv
  h5: data/cell_entry_effects/293T_entry_func_effects.csv
  h7: data/cell_entry_effects/293_mix_entry_func_effects.csv

# ----------------------------------------------------------------------------
# Parameters for filtering cell entry data
# ----------------------------------------------------------------------------
filter_params:
  effect_std_filter: 2
  times_seen_filter: 2
  n_selections_filter: 2
  clip_effect: -5

# ----------------------------------------------------------------------------
# Alignment file for IAV subtype tree
# ----------------------------------------------------------------------------
ha_subtype_alignment: data/ha18_alignment_revised.fasta

# ----------------------------------------------------------------------------
# PDB structures and chains to extract
# ----------------------------------------------------------------------------
pdbs:
  4kwm:
    model: 1
    chains: ["A", "B"]
    cif: data/pdbs/4KWM-mod-assembly1.cif # cif file for running dssp
  4o5n:
    model: 1
    chains: ["A", "B"]
    cif: data/pdbs/4O5N-mod-assembly1.cif
  6ii9:
    model: 0
    chains: ["A", "B"]
    cif: data/pdbs/6II9-assembly1.cif

# ----------------------------------------------------------------------------
# RMSD files for structural alignment
# ----------------------------------------------------------------------------
rmsd_files:
  - data/rmsd/h3_h5_ha1_rmsd.txt
  - data/rmsd/h3_h5_ha2_rmsd.txt
  - data/rmsd/h3_h7_ha1_rmsd.txt
  - data/rmsd/h3_h7_ha2_rmsd.txt
  - data/rmsd/h5_h7_ha1_rmsd.txt
  - data/rmsd/h5_h7_ha2_rmsd.txt

